#mainBack {
    -fx-background-color: rgba(0,0,0,0.95);
}
#linePane {
    -fx-background-color: rgba(255,255,255,0.98);
}
#mainLoginBack {
    -fx-background-image: url("mainBackground.jpg");
}
#mangerChoice {
    -fx-background-image: url("joker.jpg");
    -fx-background-size: cover;
}
#HeadlinePane {
    -fx-background-color: black;
}

#img {
    -fx-border-color: black 3px;
}